@import "./base.css";
@import "primeicons/primeicons.css";

body,
#app {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #100030;
	color: white;
}

:root {
	--color-octo-pink: #f050f8;
	--color-octo-purple: #100030;
	--color-octo-white: #FFFFFF;
	--color-octo-blue: #60f0f8;
}
